#product {
  .product-page {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
  }

  .product-detail {
    // background-color: #f5f5f5;
    
    .product-header {
      font-weight: 400;
      color: #282828;
    }
    
    .product-gender {
      font-size: 18px;
      text-align: left;
    }
    
    .product-price {
      text-align: left;
    }
  }


}