.home {
  display: block;

  .home-header {
    margin-bottom: 50px;
    text-align: center;
  }
}

.card {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 350px;
}

