.product-footer {
  background-color: #111111;
  color: #ffffff;

  .kicks-logo {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 50px;
  }

  .kicks-copyright {
    color: #446c7e;
    // color: #7e7e5b;
    // color: #7e7e5b;
  }
  
  .kicks-others {
    color: #446c7e;
    // col  or: #7e7e5b;
  }
}